<div class="card rounded shadow-sm p-3 table-responsive-lg">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="input-group mb-2">
        <div class="input-group flex-nowrap mb-3">
          <div class="input-group-text">Filtro:</div>
          <input type="text" class="form-control" placeholder="buscar" />
        </div>
      </div>
    </div>

    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/empresas/novo">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th hidden>#</th>

        <th data-field="name" style="width: 90%">Nome</th>

        <th>Ações</th>
      </tr>
    </thead>
    <tbody *ngIf="empresas && empresas.length">
      <tr *ngFor="let empresa of empresas">
        <td>{{ empresa.nome }}</td>

        <td>
          <button
            type="button"
            class="btn btn-primary btn-sm mr-2"
            tooltip="Editar Empresa"
          >
            <i class="fa fa-edit"></i>
          </button>
          <button
            type="button"
            class="btn btn-danger btn-sm"
            tooltip="Excluir Empresa"
          >
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>

    <tfoot *ngIf="!empresas.length">
      <tr>
        <td colspan="8" class="text-center">
          <h4>Nenhuma empresa encontrada!</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
