<div class="card rounded shadow-sm" style="margin-bottom: 5vh">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Nome</label>
          <input
            type="text"
            class="form-control is-invalid"
            formControlName="nome"
            placeholder="Insira o Nome"
            [ngClass]="{
              'is-invalid': f.nome?.errors && f.nome?.touched
            }"
          />

          <div *ngIf="f.nome?.errors?.required" class="invalid-feedback">
            O Nome é obrigatório
          </div>
          <div *ngIf="f.nome?.errors?.minlength" class="invalid-feedback">
            Deve ter no minimo 4 caracteres
          </div>
          <div *ngIf="f.nome?.errors?.maxlength" class="invalid-feedback">
            Deve ter no máximo 30 caracteres
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <label>Empresa</label>
          <select
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid': f.empresa?.errors && f.empresa?.touched
            }"
            formControlName="empresa"
            placeholder=""
          >
            <option id="1" value="1">Santander</option>
          </select>
          <div *ngIf="f.empresa?.errors?.required" class="invalid-feedback">
            A Empresa é obrigatório
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Valor</label>
          <input
            type="text"
            class="form-control"
            placeholder="R$:1000"
            formControlName="valor"
            [ngClass]="{
              'is-invalid': f.valor?.errors && f.valor?.touched
            }"
          />
          <div *ngIf="f.valor?.errors?.required" class="invalid-feedback">
            O Valor é obrigatório
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Qtd Parcelas</label>
          <input
            type="number"
            class="form-control"
            formControlName="numeroParcelas"
            placeholder="Ex: 1"
            [ngClass]="{
              'is-invalid':
                f.numeroParcelas?.errors && f.numeroParcelas?.touched
            }"
          />
          <div
            *ngIf="f.numeroParcelas?.errors?.required"
            class="invalid-feedback"
          >
            A QTD de parcelas é obrigatório
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>Data Recebimento</label>
          <input
            type="date"
            class="form-control"
            formControlName="data"
            placeholder="Data do recebimento"
            [ngClass]="{
              'is-invalid': f.data?.errors && f.data?.touched
            }"
          />
          <div *ngIf="f.data?.errors?.required" class="invalid-feedback">
            A Data é obrigatória
          </div>
        </div>
        <div class="form-group col-md-12">
          <label>Descrição</label>
          <textarea
            name="descricao"
            class="form-control"
            id="receita-descricao"
            formControlName="descricao"
            [ngClass]="{
              'is-invalid': f.descricao?.errors && f.descricao?.touched
            }"
          >
Descricao</textarea
          >
          <div *ngIf="f.descricao?.errors?.required" class="invalid-feedback">
            A Descrição é obrigatória
          </div>
          <div *ngIf="f.descricao?.errors?.minlength" class="invalid-feedback">
            Deve ter no minimo 4 caracteres
          </div>
          <div *ngIf="f.descricao?.errors?.maxlength" class="invalid-feedback">
            Deve ter no máximo 60 caracteres
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button
          class="btn btn-outline-secondary mr-auto border"
          (click)="resetForm()"
        >
          Cancelar Alteração
        </button>
        <button
          routerLink="/receitas/lista"
          class="btn btn-outline-secondary border"
        >
          Voltar
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Receita
        </button>
      </div>
    </div>
  </form>
</div>
