<app-titulo></app-titulo>
<hr />
<div action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input
      type="search"
      class="form-control mr-2 search-input"
      placeholder="buscar"
      [(ngModel)]="filtroReceita"
    />
  </div>
</div>

<table
  class="table table-striped"
  data-filter-control="true"
  data-show-search-clear-button="true"
>
  <thead class="thead-dark">
    <tr>
      <th hidden>#</th>

      <th data-field="name" data-filter-control="input">Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Empresa</th>
      <th>Qtd de Parcelas</th>
      <th>Data do pagamento</th>
      <th>Data final do pagamento</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="receitas && receitas.length">
    <tr *ngFor="let receita of receitas">
      <td hidden>{{ receita.id }}</td>
      <td>{{ receita.nome }}</td>
      <td>{{ receita.descricao }}</td>
      <td>
        {{ precoFormatado(receita.valor) }}
      </td>

      <td>{{ receita.empresa?.nome }}</td>
      <td>{{ receita.numeroParcelas }}</td>
      <td>{{ receita.data | DateFormatPipe }}</td>
      <td>{{ receita.data | DateFormatPipe }}</td>
      <td>
        <button
          type="button"
          class="btn btn-primary btn-sm mr-2"
          tooltip="Editar Receita"
        >
          <i class="fa fa-edit"></i>
        </button>
        <button
          type="button"
          class="btn btn-danger btn-sm"
          tooltip="Excluir Receita"
          (click)="openModal(template)"
        >
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!receitas.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhuma receita encontrada!</h4>
      </td>
    </tr>
  </tfoot>
</table>
<div class="text-right">
  <h4 style="color: green">Receita Total: {{ totalReceita }}</h4>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Tem certeza que quer excluir a Receita?</p>
    <button type="button" class="btn btn-danger mr-2" (click)="confirm()">
      Sim
    </button>
    <button type="button" class="btn btn-secondary" (click)="decline()">
      Não
    </button>
  </div>
</ng-template>
