<div class="row mt-4" style="margin-top: 10vh !important">
  <div class="col-md-6 d-none d-md-block" style="height: 450px">
    <div class="text-center col-md-12 my-auto side-heder">
      <h1>Cadastro de Usuário</h1>
      <img
        src="../../../../assets/registerImage.png"
        class="my-4"
        alt=""
        width="400px"
      />
    </div>
  </div>

  <div class="col-md-6">
    <form class="p-1" [formGroup]="formRegistrar">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuárioss</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label>Primeiro Nome {{ fR.primeiroNome }}</label>
          <input
            type="text"
            class="form-control"
            placeholder="Insira o Primeiro nome"
            formControlName="primeiroNome"
            [ngClass]="{
              'is-invalid': fR.primeiroNome?.errors && fR.primeiroNome?.touched
            }"
          />

          <div
            *ngIf="fR.primeiroNome?.errors?.required"
            class="invalid-feedback"
          >
            O Primeiro nome é obrigatório
          </div>
          <div
            *ngIf="fR.primeiroNome.errors?.minlength"
            class="invalid-feedback"
          >
            Deve ter no minimo 4 caracteres
          </div>
          <div
            *ngIf="fR.primeiroNome?.errors?.maxlength"
            class="invalid-feedback"
          >
            Deve ter no máximo 10 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label>Último nome</label>
          <input
            type="text"
            class="form-control"
            placeholder="Insira o Último nome"
            formControlName="ultimoNome"
            [ngClass]="{
              'is-invalid': fR.ultimoNome.errors && fR.ultimoNome?.touched
            }"
          />

          <div *ngIf="fR.ultimoNome?.errors?.required" class="invalid-feedback">
            O Último nome é obrigatório
          </div>
          <div *ngIf="fR.ultimoNome.errors?.minlength" class="invalid-feedback">
            Deve ter no minimo 4 caracteres
          </div>
          <div
            *ngIf="fR.ultimoNome?.errors?.maxlength"
            class="invalid-feedback"
          >
            Deve ter no máximo 10 caracteres
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="">Email:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Insira o Nome Completo"
          formControlName="email"
          [ngClass]="{
            'is-invalid': fR.email.errors && fR.email?.touched
          }"
        />

        <div
          *ngIf="fR.email?.errors?.required && fR.email?.touched"
          class="invalid-feedback"
        >
          O E-mail é obrigatório
        </div>
        <div
          *ngIf="fR.email?.errors?.email && fR.email?.touched"
          class="invalid-feedback"
        >
          Digite um e-mail válido
        </div>
      </div>
      <div class="form-group">
        <label for="">Usuario:</label>
        <input
          class="form-control"
          type="text"
          placeholder="Insira o nome de Usuário"
          formControlName="nome"
          [ngClass]="{
            'is-invalid': fR.nome.errors && fR.nome?.touched
          }"
        />

        <div *ngIf="fR.nome?.errors?.required" class="invalid-feedback">
          O Usuário é obrigatório
        </div>
        <div *ngIf="fR.nome.errors?.minlength" class="invalid-feedback">
          Deve ter no minimo 4 caracteres
        </div>
        <div *ngIf="fR.nome?.errors?.maxlength" class="invalid-feedback">
          Deve ter no máximo 30 caracteres
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input
            class="form-control"
            type="password"
            placeholder="Digite uma Senha"
            formControlName="senha"
            [ngClass]="{
              'is-invalid': fR.senha.errors && fR.senha?.touched
            }"
          />

          <div *ngIf="fR.senha?.errors?.required" class="invalid-feedback">
            A senha é obrigatório
          </div>
          <div *ngIf="fR.senha.errors?.minlength" class="invalid-feedback">
            Deve ter no minimo 4 caracteres
          </div>
          <div *ngIf="fR.senha?.errors?.maxlength" class="invalid-feedback">
            Deve ter no máximo 30 caracteres
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input
            class="form-control"
            type="password"
            placeholder="Confirme a Senha"
            formControlName="confirmSenha"
            [ngClass]="{
              'is-invalid': fR.confirmSenha.errors && fR.confirmSenha?.touched
            }"
          />

          <div
            *ngIf="fR.confirmSenha?.errors?.required"
            class="invalid-feedback"
          >
            É obrigatório confirmar a senha
          </div>
          <div
            *ngIf="fR.confirmSenha.errors?.minlength"
            class="invalid-feedback"
          >
            Deve ter no minimo 4 caracteres
          </div>
          <div
            *ngIf="fR.confirmSenha?.errors?.maxlength"
            class="invalid-feedback"
          >
            Deve ter no máximo 30 caracteres
          </div>

          <div
            *ngIf="fR.confirmSenha?.errors?.mustMatch"
            class="invalid-feedback"
          >
            As senhas são diferentes
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
          />
          <label class="custom-control-label"
            >Eu concordo com os <a href="#">Termos de Uso</a>.</label
          >
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
